# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# Resharper
_ReSharper*/

# NuGet
*.nupkg
packages/
*.snupkg
.nuget/

# Entity Framework
*.db
*.db-journal

# Logs
*.log
*.tlg

# Visual Studio Code
.vscode/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# IIS
*.vspscc

# OS generated
Thumbs.db
Desktop.ini